# Compiled Object files, Static and Dynamic libs (Shared Objects)
src*
dst*
c/cmd/c-linux64
c/cmd/c-mac64
c/cmd/c-win64.exe
s/cmd/s-linux64
s/cmd/s-mac64
s/cmd/s-win64.exe
*.upx
*.log
*.o
*.a
*.so
.idea
# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
.settings
*.exe
*.exe~
*.test
*.prof
*.project
*.vscode
*.coverprofile
.wercker


